<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <head th:fragment="headerFragment (pageTitle)">
    	<title th:text="${pageTitle}"></title>
    </head>
    
    <head th:fragment="css">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="stylesheet" th:href="@{/css/login.css}">
    </head>

    <head th:fragment="js">
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
        <script th:src="@{/js/custom.js}"></script>
    </head>
    
    <head th:fragment="fa">
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
</head>

<body>
    <nav th:fragment="navbar" class="navbar navbar-expand site-navigation">
    	<ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-items-center text-center">
       		<li><a class="site-branding d-block" th:href="@{/}"><img class="d-block" src="https://i.ibb.co/zHNTzKh/logo-white.png" alt="logo-white"></a></li>
           	<li><a th:href="@{/}">Home</a></li>
           	<li><a th:href="@{/daftar-request}">Daftar Rujukan IGD</a></li>
           	<li><a th:href="@{/daftar-ranap}">Daftar Pasien Rawat Inap</a></li>
           	<li><a th:href="@{/penanganan/insert}">Penanganan</a></li>
           	<li><a th:href="@{/obat/request}">Pesan Obat</a></li>
           	<li><a th:href="@{/jadwal-jaga}">Jadwal Jaga</a></li>
           	<li><a th:href="@{/kamar}">Kamar</a></li>
           	<li><a class="button gradient-bg" th:href="@{/logout}">Logout</a></li>    	
    	</ul>
    </nav></body>
</html>