<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:replace = "fragments/fragment :: headerFragment (pageTitle='Jadwal Jaga: Tambah')"></title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
	<br>
	<div style="margin-left:2rem">
		<h4>Tambah Jadwal Jaga</h4>
		<form th:action="@{/jadwal-jaga/insert}" th:object="${jadwalJaga}" method="POST">
			<table>
				<tr style="height:3rem">
					<td style="width:10rem">Status Dokter</td>
					<td><input type="text" name="statusDokter" maxlength="255" class="form-control" required="required" /></td>
				</tr>
				<tr style="height:3rem">
					<td>Hari Jaga</td>
					<td><input type="date" id="tanggalDokter" name="daftarHariJaga" maxlength="255" class="form-control" required="required"  /></td>
				</tr>
				<tr style="height:3rem">
					<td>Nama Dokter</td>
					<td>
						<select id="dokter" class="form-control" th:name="idDokter">
							<option disabled="disabled" selected="selected" >Pilih Dokter</option>
					    </select>
					</td>
				</tr>
				<tr style="height:3rem">
					<td>Nama Paviliun</td>
					<td>
						<select class="form-control" th:name="paviliunJaga">
							<option disabled="disabled" selected="selected" >Pilih Paviliun</option>
					    	<option th:each="paviliun : ${allPaviliun}" th:value="${paviliun.id}" th:text="${paviliun.namaPaviliun}"></option>
					    </select>
					</td>
				</tr>
			
			</table>
			<br>
			<a href="/jadwal-jaga"><button type="button" class="btn btn-danger">Back</button></a>
			<button type="submit" class="btn" style="background-color: #696969; color:white">Simpan</button>
		</form>
	</div>
</body>

<script>
$('#tanggalDokter').change(
		function() {
			$.getJSON("/api/dokter/available", {
				tanggal : $(this).val(),
				ajax : 'true'
			}, function(data) {
				var html = '<option disabled value="">Pilih Dokter</option>';
				var len = data.result.length;
				if (len > 0) {
					for (var i = 0; i < len; i++) {
						html += '<option value="' + data.result[i].id + '">'
								+ data.result[i].nama + '</option>';
					}
					html += '</option>';

				}
				$('#dokter').html(html);
			});
		});
</script>

</html>