<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:replace = "fragments/fragment :: headerFragment (pageTitle='Penanganan Pasien')"></title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<nav th:replace="fragments/fragment :: navbar"></nav>
<body>
	<div class="container">
		<div class="col-md-6">
			<div class="box">
				<h2 class="d-flex align-items-center">Tambah Penanganan</h2>	
				<form method="POST" th:action="@{/penanganan/insert}" th:object="${pemeriksaan}" >
					<table>
						<tr>
							<td for="nama">Nama Pasien</td>
							<td><select name="idPasien" class="form-control">
	          				<div th:each="kamar : ${allKamar}" >
	          				<!-- kondisi untuk milih dokter.id di database all dokter -->
							<option th:value="${kamar.idPasien}" th:text="${allPasien.get(kamar.idPasien).nama}" th:selected="${kamar.idPasien} == ${pemeriksaan.idPasien}"></option>
	          				</div>
	          			</select></td>
						</tr>
						<tr>
							<td for="dokter">Dokter</td>
							<td><select name="idDokter" class="form-control">
	          				<div th:each="dokterPilih : ${allDokter}" >
	          				<!-- kondisi untuk milih dokter.id di database all dokter -->
	          				<option th:value="${dokterPilih.id}" th:text="${dokterPilih.nama}"></option>
	          				</div>
	          			</select></td>
						</tr>
						<tr>
							<td for="waktu">Waktu</td>
							<td><input type="datetime-local" class="form-control" name="waktuPemeriksaan" aria-describedby="emailHelp" th:value="${pemeriksaan.waktu}" required="required" placeholder=""></td>
						</tr>
						<tr>
							<td for="pemeriksaan">Deskripsi Penanganan</td>
							<td><input type="text" class="form-control" name="pemeriksaan" aria-describedby="emailHelp" required="required" th:value="${pemeriksaan.pemeriksaan}" placeholder=""></td>
						</tr>
						<tr>
							<td for="requestObat">Request Obat</td>
							<td><div th:each="obat,iterationStats : *{listObat}" style="padding:10px">
	            		<div>
	            			<label>Nama Obat</label>
	            			<select class="form-control" th:field="*{listObat[__${iterationStats.index}__].namaObat}" >
						  		<option th:each="obat : ${allObat}" th:value="${obat.nama}" th:text="${obat.nama}"></option>
							</select>
	            		</div>
	            		<br>
	            		<div class="form-group">
	            			<label>Jumlah Obat</label>
	            			<input type="number" class="form-control" th:field="*{listObat[__${iterationStats.index}__].jumlah}" />
	            		</div>
            		</div></td>
						</tr>
					</table>
					<br>

     		 		<div class="text-center">
     		 			<button type="submit" name="addRow" class="button gradient-bg">Tambah Obat Lainnya</button>
	       	 			<button value="submit" class="button gradient-bg">Simpan</button>
	       	 		</div> 
				</form>
				</div>
	 		</div>
	 	</div>
</body>
</html>