<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add Dealer</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>

    <h2>Insert Kamar Baru</h2>

    <form th:action="@{/kamar/insert}" th:object="${kamar}" method="POST">
        Nama: <br>
        <input type="text" name="nama" />
        <br>
        Alamat: <br>
        <input type="text" name="alamat" />
        <br>
        No. Telp: <br>
        <input type="text" name="noTelp" />
        <br><br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>

</html>