<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:replace = "fragments/fragment :: headerFragment (pageTitle='Kamar: Tambah')"></title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <object th:include="fragments/fragment :: fonts"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
	<div class="container-full-bg">
		<div class="container vertical-center" style="padding-top: 32px;">
			<h1>Tambah Penanganan</h1>
			<div class="container">
				<form th:action="@{/penanganan/insert}" th:object="${pemeriksaan}" method="POST">
				<div>
            		<label for="namaPasien">Pasien :</label>
               		<select class="form-control" name="namaPasien">
            		  <option>Pilih Pasien</option>
					  <option th:each="kamar : ${allKamar}" 
					          th:value="${kamar.idPasien}" 
					          th:text="${allPasien.get(kamar.idPasien).nama}"></option>
					</select>
            	</div>
            	<div>
            		<label for="namaDokter">Dokter :</label>
               		<select class="form-control" name="namaDokter">
            		  <option>Pilih Dokter</option>
					  <option th:each="dokter : ${allDokter}" 
					          th:value="${dokter.id}" 
					          th:text="${dokter.nama}"></option>
					</select>
            	</div>
            	<div>
            		<label for="waktu">Waktu Pemeriksaan</label>
            		<input type="datetime-local" name="waktu" class="form-control" th:value="${pemeriksaan.waktu}">
            	</div>
            	<div>
            		<label for="pemeriksaan">Deskripsi :</label>
            		<input type="text" name="tahunMasuk" class="form-control" th:value="${pemeriksaan.pemeriksaan}">
            	</div>
		      	<div class="card-body">
                	<input type="submit" name="submit" class="btn btn-primary"  value="Tambah">
            	</div>
            	</form>
           	</div>
       	</div>
   	</div>
            	