<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title
	th:replace="fragments/fragment :: headerFragment (pageTitle='Kamar: Tambah')"></title>
<object th:include="fragments/fragment :: css" th:remove="tag"></object>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<nav th:replace="fragments/fragment :: navbar"></nav>
<body>
	<div class="container">
		<div class="col-md-6">
			<div class="box">
				<h2 class="d-flex align-items-center">Tambah Kamar</h2>
				<form th:action="@{/kamar/insert}" th:object="${kamar}"
					method="POST">
					<div>
						<input type="hidden" name="nomorKamar" class="form-control"
							th:value="0">
					</div>
					<div>
						<input type="hidden" name="status" class="form-control"
							th:value="0">
					</div>
					<div>
						<input type="hidden" name="idPasien" class="form-control"
							th:value="0">
					</div>
					<div>
						<label for="tahunMasuk">Paviliun :</label> <select
							class="form-control" name="paviliunKamar">
							<option disabled>Pilih Paviliun</option>
							<option th:each="paviliun : ${listOfPaviliun}"
								th:value="${paviliun.id}" th:text="${paviliun.namaPaviliun}"></option>
						</select>
					</div>
					<br>
					<div class="text-center">
						<a href="/kamar"><button type="button" class="button danger">Back</button></a>
						<button type="submit" class="button gradient-bg">Tambah</button>
					</div>
				</form>
			</div>
		</div>
	</div>