<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:replace = "fragments/fragment :: headerFragment (pageTitle='Kamar: Tambah')"></title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
	<div class="container-full-bg">
		<div class="container vertical-center" style="padding-top: 32px;">
			<h1>Tambah Kamar</h1>
			<div class="container">
				<form th:action="@{/kamar/insert}" th:object="${kamar}" method="POST">
				<div>
            		<input type="hidden" name="nomorKamar" class="form-control" th:value="0">
            	</div>
            	<div>
            		<input type="hidden" name="status" class="form-control" th:value="0">
            	</div>
            	<div>
            		<input type="hidden" name="idPasien" class="form-control" th:value="0">
            	</div>
            	<div>
            		<label for="tahunMasuk">Paviliun :</label>
               		<select class="form-control" name="paviliunKamar">
            		  <option>Pilih Paviliun</option>
					  <option th:each="paviliun : ${listOfPaviliun}" 
					          th:value="${paviliun.id}" 
					          th:text="${paviliun.namaPaviliun}"></option>
					</select>
            	</div>
		      	<div class="card-body">
                	<input type="submit" name="submit" class="btn btn-primary"  value="Tambah">
            	</div>
            	</form>
           	</div>
       	</div>
   	</div>
            	