<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>List Pasien</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <nav th:replace="fragments/fragment :: navbar"></nav>
</head>

<body  style="margin:50;padding:50">
	<h3 style="margin-top:20px">List Semua Pasien</h3>
	<br>
	<table id="table">
		<thead>
			<th>Nama Pasien</th>
			<th>Status Pasien</th>
			<th>Nomor Kamar</th>
			<th>Keluarkan Pasien</th>
		</thead>
		<span th:each="kamar, iterator : ${allKamar}">
			<tr>
				<td th:text="${allPasien.get(kamar.idPasien).nama}" ></td>
				<td th:text="${allPasien.get(kamar.idPasien).statusPasien.jenis}"></td>
				<td th:text="${kamar.paviliunKamar.namaPaviliun} + ' - ' + ${kamar.id}"></td>
				<td>
					<form th:action="@{/daftar-ranap/pulang/{idKamar}(idKamar=${kamar.id})}" id="assignPasien" method="POST">
						<input class="form-control" type="hidden" id="idPasien" required="required" name="idPasien" th:value="${allPasien.get(kamar.idPasien).id}"/>
						<button class="btn btn-primary" type="submit">Keluarkan Pasien</button>
					</form>
				</td>
			</tr>
		</span>
	</table>
</body>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
 
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

<script>
$(document).ready( function () {
    $('#table').DataTable();
} );
</script>


</html>