<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:replace = "fragments/fragment :: headerFragment (pageTitle='Request Obat')"></title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <object th:include="fragments/fragment :: fonts"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
	<br>
	<div style="margin-left:2rem">
		<h4>Request Obat</h4>
		<form th:action="@{/obat/request}" th:object="${requestObat}" method="POST">
			<table>
				<tr style="height:3rem">
					<td style="width:10rem">Nama Obat</td>
					<td></td>
					<td><input type="text" name="namaObat" maxlength="255" class="form-control" required="required" /></td>
				</tr>
				<tr style="height:3rem">
					<td style="width:10rem">Jumlah</td>
					<td></td>
					<td><input type="text" name="jumlah" maxlength="255" class="form-control" required="required" /></td>
				</tr>
				<tr style="height:3rem">
					<td>ID Pemeriksaan</td>
					<td>
						<select class="form-control" th:name="idPemeriksaan">
							<option disabled="disabled" selected="selected" >Pemeriksaan</option>
					    	<option th:each="pemeriksaan : ${allPemeriksaan}" th:value="${pemeriksaan.id}" th:text="${pemeriksaan.id}"></option>
					    </select>
					</td>
				</tr>
			</table>
			<br>
			<button type="submit" class="btn" style="background-color: #696969; color:white">Simpan</button>
		</form>
	</div>
</body>


</html>