<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:replace = "fragments/fragment :: headerFragment (pageTitle='Penanganan Pasien')"></title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body  style="margin:50;padding:50">
<nav th:replace="fragments/fragment :: navbar"></nav>	
	<!-- <h3 style="margin-top:20px" th:text="'Penanganan Pasien '+${pasien.nama}"></h3> -->
	<div class="col-md">
		<br>
            <div class="card">
                <div class="card-header">
                   <h5 th:text="'Update Penanganan Pasien '+${pasien.nama}"></h5>
                </div>
                <div class="card-body">
				  <div class="container">
				      <form th:action="''" method="POST">
				       <input type="hidden" name="id" th:value="${pemeriksaan.id}"/>
				         <div class="form-group">
					          <label for="nama">Nama Pasien</label>
					          <input type="text" disabled class="form-control" name="nama" th:value="${pasien.nama}" aria-describedby="emailHelp" placeholder="">
					      </div>
					      <div class="form-group">
				          	<label for="dokter">Dokter</label>
				          	<br>
				          	<select name="dokter">
				          		<div th:each="dokterPilih : ${dokters}" >
				          			<!-- kondisi untuk milih dokter.id di database all dokter -->
				          			<option th:if="${dokter.id==dokterPilih.id}" selected th:value="${dokterPilih.id}" th:text="${dokterPilih.nama}"></option>
				          			<option th:unless="${dokter.id==dokterPilih.id}" th:value="${dokterPilih.id}" th:text="${dokterPilih.nama}"></option>
				          		</div>
				          	</select>
				         </div>
				         <div class="form-group">
				          	<label for="waktu">Waktu</label>
				          	<input type="datetime-local" class="form-control" name="waktu" th:value="${#strings.replace(pemeriksaan.waktu,' ','T')}" aria-describedby="emailHelp" required="required" placeholder="">
				         </div>
				         <div class="form-group">
				          	<label for="deskripsi">Deskripsi Penanganan</label>
				          	<input type="text" class="form-control" name="deskripsi" th:value="${pemeriksaan.pemeriksaan}" aria-describedby="emailHelp" required="required" placeholder="">
			     		 </div>
			     		 
			     		 
	    
				        <div class="form-group">
					      <label for="requestObat"><h3>Request Obat</h3></label>
					      <hr>
					       
					         <table style = "width:70%" >
						         <tr>
						         	<td>
						         		Nama Obat
						         	</td>
						         	<td>
						         		Jumlah Obat
						         	</td>
						         </tr>
						         <tr th:each="requestObat : ${obat}">
						         	<td>
						         		<input th:disabled="${requestObat.statusObat} == 1" type="text" class="form-control" name="namaObat" th:value="${requestObat.namaObat}" aria-describedby="emailHelp" placeholder="">
							          	<!-- <select name="dokter" th:disabled="${requestObat.statusObat} == 1">
							          		<div th:each="dokterPilih : ${dokters}" >
							          			kondisi untuk milih dokter.id di database all dokter
							          			<option th:if="${dokter.id==dokterPilih.id}" selected th:value="${dokterPilih.id}" th:text="${dokterPilih.nama}"></option>
							          			<option th:unless="${dokter.id==dokterPilih.id}" th:value="${dokterPilih.id}" th:text="${dokterPilih.nama}"></option>
							          		</div>
							          	</select>  -->
						         	</td>
						         	<td>
						         		<input th:disabled="${requestObat.statusObat} == 1" type="text" class="form-control" name="jumlahObat" th:value="${requestObat.jumlah}" aria-describedby="emailHelp" placeholder="">
						         	</td>
						         
						         </tr>
					        
						       </table> 
					      </div>
	       	
     				 	 <button value="submit" class="btn btn-primary">Simpan</button>  
						</form>
					</div>
		 		</div>
		 	</div>

	</div>

          
	
</body>

<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
 
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

<script>
$(document).ready( function () {
    $('#table').DataTable();
} );
</script> -->

</html>