<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title
	th:replace="fragments/fragment :: headerFragment (pageTitle='View All Request Obat')"></title>
<object th:include="fragments/fragment :: css" th:remove="tag"></object>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>

<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8"
	src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
</head>
<nav th:replace="fragments/fragment :: navbar"></nav>

<body>
	<div class="container">
		<div class="box">
			<h2 class="d-flex align-items-center">List Request Obat</h2>

			<span th:if="${listObatToggle}==1">
				<table class="text-center" id="requestObat">
					<thead>
						<tr>
							<th>No.</th>
							<th>Nama Obat</th>
							<th>Jumlah</th>
							<th>Nama Pasien</th>
							<th>Kirim Request</th>
						</tr>
					</thead>
					<tr th:each="requestObat,iterationStatus : ${allRequestObat}">
						<td th:text="${iterationStatus.count}"></td>
						<td th:text="${requestObat.namaObat}"></td>
						<td th:text="${requestObat.jumlah}"></td>
						<td th:text="${allPasienReq.get(requestObat.idPasien).nama}"></td>
						<td>
							<form
								th:action="@{/obat/request/{requestObatId}(requestObatId=${requestObat.id})}"
								id="idRequestObat" method="POST">
								<button class="button gradient-bg" type="submit">Kirim
									Request</button>
							</form>
						</td>
					</tr>
				</table>
			</span> <span th:if="${listObatToggle}==0">
				<h3>Maaf, Belum Ada Request Obat di dalam Sistem</h3>
			</span>
		</div>
</body>
<script>
	$(document).ready(function() {
		$('#requestObat').DataTable();
	});
</script>
</html>