<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title
	th:replace="fragments/fragment :: headerFragment (pageTitle='Kamar: View All')"></title>
<object th:include="fragments/fragment :: css" th:remove="tag"></object>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>

<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8"
	src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
</head>

<nav th:replace="fragments/fragment :: navbar"></nav>
<body>
	<div class="container">

		<!-- Tambah Jadwal -->
		<div class="col-lg-3 col-md-6 mb-4">
			<div class="box">
				<h2 class="d-flex align-items-center">Tambah Kamar</h2>
				<a class="d-flex align-items-center">Klik tombol di bawah ini
					untuk menambahkan data kamar baru di sebuh paviliun</a>
				<form th:action="@{/kamar/insert}" method="GET">
				<br>
					<div class="text-center">
						<button type="submit" class="button gradient-bg text-center">Tambah</button>
					</div>
				</form>
			</div>
		</div>

		<!-- Daftar Jaga -->
		<div class="box">
			<h2 class="d-flex align-items-center">List Kamar</h2>

		<table id="table" class="text-center">
			<thead>
				<th>Nomor Kamar</th>
				<th>Paviliun</th>
				<th>Status</th>
				<th>Detail</th>
			</thead>
			<span th:each="kamar : ${allKamar}">
				<tr>
					<td
						th:text="${kamar.paviliunKamar.namaPaviliun} + ' - ' + ${kamar.id}"></td>
					<td th:text="${kamar.paviliunKamar.namaPaviliun}"></td>
					<td><span th:if="${kamar.paviliunKamar.status == 1}">
							<div th:switch="${kamar.status}">
								<p th:case="1">Kamar Terisi</p>
								<p th:case="0">Tersedia</p>
							</div>
					</span> <span th:unless="${kamar.paviliunKamar.status == 1}">
							<p>Kamar Rusak</p>
					</span></td>
					<td><a th:href="'/kamar/' + ${kamar.id}"
						class="button gradient-bg">Detail Kamar</a></td>
				</tr>
			</span>
		</table>
		</div>
	</div>
</body>

<script>
	$(document).ready(function() {
		var table = $('#table').DataTable();
	});
</script>

</html>