<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:replace = "fragments/fragment :: headerFragment (pageTitle='Penanganan Pasien')"></title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<nav th:replace="fragments/fragment :: navbar"></nav>	
<body>
	<div class="container">
		<div class="col-md-6">
			<div class="box">
				<h2 class="d-flex align-items-center" th:text="'Penanganan Pasien '+${pasien.nama}"></h2>
		<div th:each="i: ${#numbers.sequence(0, count - 1)}" >  
		<table class="align-items-center">
	    	<tr>
        		<td>Nama Dokter	:</td>
       			<td th:text="${dokters[i].nama}"></td>
	    	</tr>
	    	<tr>
        		<td>Waktu Penanganan :</td>
       			<td th:text="${pemeriksaans[i].waktu}"></td>
	    	</tr>
	    	<tr>
        		<td>Deskripsi Penanganan :</td>
       			<td th:text="${pemeriksaans[i].pemeriksaan}"></td>
	    	</tr>
	    	<tr >
	       		<td>Request Obat :</td>
	       		<td >
	       		<table>
	       		<tr th:each="requestObat : ${pemeriksaans[i].listObat}" >
	       			<td th:text="${requestObat.namaObat}"></td>
	       			<td th:text="${requestObat.jumlah}"></td>
	       		</tr>
	           		</table>
	       		</td>
	   		</tr>
   		</table>
   		<br>
   		<div class="text-center">
   			<a th:href="'/penanganan/'+${pasien.id}+'/'+${pemeriksaans[i].id}" class="button gradient-bg">Ubah</a>
   		</div>
	</div>
	</div>
	</div>
	</div>
</body>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
 
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

<script>
$(document).ready( function () {
    $('#table').DataTable();
} );
</script>


</html>